@using Demo.Core.Helpers
@model Demo.Core.DTOs.OUIClient

<div style="margin-top: 65px;">
    <div id="Main" class="col-md-10 col-md-offset-1">
        <h3>@ViewBag.Action</h3>

        @using (Html.BeginForm("Client", "Client", new { type = ViewBag.Type, activityId = ViewBag.ActivityId }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
    
            <hr />

            <div class="row">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.Title)</strong>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Title, (IEnumerable<SelectListItem>)ViewBag.Title)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.FirstName)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.FirstName)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.LastName)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.LastName)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.Address)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Address)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.Suburb)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Suburb)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.PostCode)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.PostCode)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.Mobile)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Mobile)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.HomePhone)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.HomePhone)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.WorkPhone)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.WorkPhone)
                </div>
            </div>

            <div class="row" style="padding-top: 0.2em;">
                <div class="col-md-4">
                    <strong>@Html.LabelFor(m => m.Email)</strong>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(m => m.Email)
                </div>
            </div>

            <hr />
    
            <div class="col-md-4 col-md-offset-8" style="text-align: center; clear: both; padding: 10px;">
                @Html.ActionLink("Back", "Index", "Home") | 
        <input id="button_save" type="submit" class="btn btn-default" value="Next" />
            </div>
        }
    </div>
</div>


