@model Demo.Core.DTOs.UIs.OInvoiceMember

<h3>@ViewBag.Action</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <h4><span><b>** Invoice **</b></span></h4>
    </div>
    <div class="col-md-8">
        <a class="btn  btn-default" href="javascript:;" onclick="$('#OrderHistory').toggle('blind');">History</a>
    </div>
</div>

<div id="OrderHistory" style="display:none">
    @foreach (var step in Model.OrderSteps)
    {
        <div class="row">
            <div class="col-md-2">
                @step.OrderHistoryId
            </div>
            <div class="col-md-8">
                @step.Record
            </div>
            <div class="col-md-2">
                @step.DateCreated
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Invoice)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Invoice)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.DateCreated)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.DateCreated)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.PriceIncGST)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.PriceIncGST)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.AmountPaid)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.AmountPaid)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>@Html.DisplayNameFor(m => m.Memo)</strong>
    </div>
    <div class="col-md-2">
        @Ajax.ActionLink("Update", "UpdateMemo", "Invoice", new { orderId = Model.Invoice }, new AjaxOptions { UpdateTargetId = "Main" })
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Memo)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.IsSuccess)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.IsSuccess)
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <h4><span><b>** Client **</b></span></h4>
    </div>
    <div class="col-md-8">
        @Ajax.ActionLink("Edit", "EditClient", "Client", new { clientId = Model.ClientId, orderId = Model.Invoice }, new AjaxOptions { UpdateTargetId = "Main" }, new { @class = "btn  btn-default" })
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Title)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Title)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.FirstName)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.LastName)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.LastName)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Address)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Address)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Suburb)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Suburb)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.PostCode)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.PostCode)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Mobile)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Mobile)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.HomePone)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.HomePone)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.WorkPhone)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.WorkPhone)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Email)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>

<br />

<h4><span><b>** Term **</b></span></h4>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Year)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Year)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.Name)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.DateStart)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.DateStart)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>@Html.DisplayNameFor(m => m.DateEnd)</strong>
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(m => m.DateEnd)
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-8">
    @Ajax.ActionLink("Back to List", "Invoices", new AjaxOptions { UpdateTargetId = "Main" })
    </div>
</div>