@model Demo.Core.DTOs.UIs.OMemo

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "Main" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <h3>@ViewBag.Action</h3>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <strong>@Html.LabelFor(m => m.Memo)</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Memo, 10, 150, null)
        </div>
    </div>

    <hr />
    
    <div class="col-md-4 col-md-offset-8" style="text-align: center; clear: both; padding: 10px;">
        @Ajax.ActionLink("Back", "ShowInvoice", "Invoice", new { id = @ViewBag.OrderId }, new AjaxOptions() { UpdateTargetId = "Main" }, new { @class = "btn btn-default" }) | 
        <input id="button_save" type="submit" class="btn btn-default" value="Save" />
    </div>
}